@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');

.header {
    height: 62px;
    background-color: #FFFBEB;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    padding: 0 26px 0 26px;
    display: flex;
    align-items: center;
}

.header-link{
    width: 16px;
    align-content: flex-start;
}

.header-title {
    width: 100%;
    font-family: Rye;
    font-size: 24px;
    color: #B45309;   
    display: flex;
    justify-content: center;
}